In [66]:
import respy as rp
import pandas as pd
import numpy as np

from auxiliary import *

pd.set_option('display.max_rows', 1000)

In [68]:

num_occupations, n_periods = 3, 3

params_occ, options_occ = scaling_model_specification("kw_97_basic", num_periods=n_periods, num_occupations=num_occupations)

In [69]:
params_occ

                                                            value         sd  \
category              name
delta                 delta                              0.787000     0.0048
initial_exp_school_10 probability                        0.671500     0.0500
initial_exp_school_11 probability                        0.075000     0.0500
initial_exp_school_7  probability                        0.009500     0.0500
initial_exp_school_8  probability                        0.042200     0.0500
initial_exp_school_9  probability                        0.201800     0.0500
maximum_exp           school                            20.000000        NaN
nonpec_home           constant                       16887.000000   413.0000
                      type_1                           215.000000   377.0000
                      type_2                        -16966.000000   542.0000
                      type_3                        -13128.000000  1000.0000
nonpec_school         co_graduate                   -26357.000000   737.0000
                      constant                       43948.000000   850.0000
                      hs_graduate                    -2983.000000   156.0000
                      type_1                        -26352.000000   757.0000
                      type_2                        -30541.000000   754.0000
                      type_3                           226.000000   594.0000
type_1                at_least_ten_years_school          2.433570     0.2000
                      up_to_nine_years_school            0.313614     0.0250
type_2                at_least_ten_years_school          2.536240     0.2000
                      up_to_nine_years_school            1.052250     0.0400
type_3                at_least_ten_years_school         -0.159780     0.0500
                      up_to_nine_years_school           -0.736924     0.1000
wage_aa               constant                           8.937000     0.0152
                      exp_blue_collar                    0.022500     0.0008
                      exp_military                       0.013100     0.0131
                      exp_school                         0.070000     0.0018
                      exp_white_collar                   0.027000     0.0012
                      exp_white_collar_square           -0.042900     0.0032
wage_bb               constant                           8.937000     0.0152
                      exp_blue_collar                    0.022500     0.0008
                      exp_military                       0.013100     0.0131
                      exp_school                         0.070000     0.0018
                      exp_white_collar                   0.027000     0.0012
                      exp_white_collar_square           -0.042900     0.0032
wage_blue_collar      constant                           8.915600     0.0126
                      exp_blue_collar                    0.142400     0.0011
                      exp_blue_collar_square            -0.177400     0.0041
                      exp_military                       0.102100     0.0021
                      exp_school                         0.018900     0.0014
                      exp_white_collar                   0.067400     0.0674
                      type_1                             0.299600     0.0094
                      type_2                            -0.122300     0.0079
                      type_3                             0.075600     0.0058
wage_cc               constant                           8.937000     0.0152
                      exp_blue_collar                    0.022500     0.0008
                      exp_military                       0.013100     0.0131
                      exp_school                         0.070000     0.0018
                      exp_white_collar                   0.027000     0.0012
                      exp_white_collar_square           -0.042900     0.0032
wage_military         constant                           8.470400     0.0234
                      exp_military                       0.339100     0.0122
                      exp_military_square               -2.990000     0.2156
                      exp_school                         0.044300     0.0027
wage_white_collar     constant                           8.804300     0.0124
                      exp_blue_collar                    0.074800     0.0017
                      exp_military                       0.007700     0.0007
                      exp_school                         0.093800     0.0014
                      exp_white_collar                   0.117000     0.0015
                      exp_white_collar_square           -0.046100     0.0032
                      type_1                            -0.066800     0.0047
                      type_2                            -0.422100     0.0100
                      type_3                            -0.499800     0.0176
shocks_sdcorr         sd_aa                              0.000000        NaN
                      sd_bb                              0.000000        NaN
                      sd_blue_collar                     0.332900        NaN
                      sd_cc                              0.000000        NaN
                      sd_military                        0.330800        NaN
                      sd_white_collar                    0.330100        NaN
                      sd_school                       2312.000000        NaN
                      sd_home                        13394.000000        NaN
                      corr_bb_aa                         0.000000        NaN
                      corr_blue_collar_aa                0.000000        NaN
                      corr_blue_collar_bb                0.000000        NaN
                      corr_cc_aa                         0.000000        NaN
                      corr_cc_bb                         0.000000        NaN
                      corr_cc_blue_collar                0.000000        NaN
                      corr_military_aa                   0.000000        NaN
                      corr_military_bb                   0.000000        NaN
                      corr_military_blue_collar          0.412000        NaN
                      corr_military_cc                   0.000000        NaN
                      corr_white_collar_aa               0.000000        NaN
                      corr_white_collar_bb               0.000000        NaN
                      corr_white_collar_blue_collar     -0.380600        NaN
                      corr_white_collar_cc               0.000000        NaN
                      corr_white_collar_military        -0.368800        NaN
                      corr_school_aa                     0.000000        NaN
                      corr_school_bb                     0.000000        NaN
                      corr_school_blue_collar            0.000000        NaN
                      corr_school_cc                     0.000000        NaN
                      corr_school_military               0.000000        NaN
                      corr_school_white_collar           0.000000        NaN
                      corr_home_aa                       0.000000        NaN
                      corr_home_bb                       0.000000        NaN
                      corr_home_blue_collar              0.000000        NaN
                      corr_home_cc                       0.000000        NaN
                      corr_home_military                 0.000000        NaN
                      corr_home_white_collar             0.000000        NaN
                      corr_home_school                   0.000000        NaN
meas_error            sd_aa                              0.308900        NaN
                      sd_bb                              0.308900        NaN
                      sd_blue_collar                     0.308900        NaN
                      sd_cc                              0.308900        NaN
                      sd_military                        0.125900        NaN
                      sd_white_collar                    0.413300        NaN

                                                                                               comment
category              name
delta                 delta                                                            discount factor
initial_exp_school_10 probability                    Probability that the initial level of school i...
initial_exp_school_11 probability                    Probability that the initial level of school i...
initial_exp_school_7  probability                    Probability that the initial level of school is 7
initial_exp_school_8  probability                    Probability that the initial level of school is 8
initial_exp_school_9  probability                    Probability that the initial level of school is 9
maximum_exp           school                         Maximum level of experience for school (option...
nonpec_home           constant                         mean value of non-market alternative for type 0
                      type_1                                  deviation for type 1 from type 0 in home
                      type_2                                  deviation for type 2 from type 0 in home
                      type_3                                  deviation for type 3 from type 0 in home
nonpec_school         co_graduate                                 consumption value of graduate school
                      constant                       consumption value of school attendance for type 0
                      hs_graduate                                         consumption value of college
                      type_1                                   deviation for type 1 from type 0 in edu
                      type_2                                   deviation for type 2 from type 0 in edu
                      type_3                                   deviation for type 3 from type 0 in edu
type_1                at_least_ten_years_school      effect of at least ten years of schooling on p...
                      up_to_nine_years_school        effect of up to nine years of schooling on pro...
type_2                at_least_ten_years_school      effect of at least ten years of schooling on p...
                      up_to_nine_years_school        effect of up to nine years of schooling on pro...
type_3                at_least_ten_years_school      effect of at least ten years of schooling on p...
                      up_to_nine_years_school        effect of up to nine years of schooling on pro...
wage_aa               constant                       log of rental price if the base skill endowmen...
                      exp_blue_collar                return to experience, other civilian sector, l...
                      exp_military                                            return to mil experience
                      exp_school                     linear return to an additional year of schooli...
                      exp_white_collar                return to experience, same sector, linear (wage)
                      exp_white_collar_square        return to experience, same sector, quadratic (...
wage_bb               constant                       log of rental price if the base skill endowmen...
                      exp_blue_collar                return to experience, other civilian sector, l...
                      exp_military                                            return to mil experience
                      exp_school                     linear return to an additional year of schooli...
                      exp_white_collar                return to experience, same sector, linear (wage)
                      exp_white_collar_square        return to experience, same sector, quadratic (...
wage_blue_collar      constant                       log of rental price if the base skill endowmen...
                      exp_blue_collar                 return to experience, same sector, linear (wage)
                      exp_blue_collar_square         return to experience, same sector, quadratic (...
                      exp_military                   return to experience, military sector, linear ...
                      exp_school                     linear return to an additional year of schooli...
                      exp_white_collar               return to experience, other civilian sector, l...
                      type_1                                     deviation for type 1 from type 0 in b
                      type_2                                     deviation for type 2 from type 0 in b
                      type_3                                     deviation for type 3 from type 0 in b
wage_cc               constant                       log of rental price if the base skill endowmen...
                      exp_blue_collar                return to experience, other civilian sector, l...
                      exp_military                                            return to mil experience
                      exp_school                     linear return to an additional year of schooli...
                      exp_white_collar                return to experience, same sector, linear (wage)
                      exp_white_collar_square        return to experience, same sector, quadratic (...
wage_military         constant                       log of rental price if the base skill endowmen...
                      exp_military                    return to experience, same sector, linear (wage)
                      exp_military_square            return to experience, same sector, quadratic (...
                      exp_school                     linear return to an additional year of schooli...
wage_white_collar     constant                       log of rental price if the base skill endowmen...
                      exp_blue_collar                return to experience, other civilian sector, l...
                      exp_military                   return to experience, military sector, linear ...
                      exp_school                     linear return to an additional year of schooli...
                      exp_white_collar                return to experience, same sector, linear (wage)
                      exp_white_collar_square        return to experience, same sector, quadratic (...
                      type_1                                     deviation for type 1 from type 0 in a
                      type_2                                     deviation for type 2 from type 0 in a
                      type_3                                     deviation for type 3 from type 0 in a
shocks_sdcorr         sd_aa                                                                        NaN
                      sd_bb                                                                        NaN
                      sd_blue_collar                                                               NaN
                      sd_cc                                                                        NaN
                      sd_military                                                                  NaN
                      sd_white_collar                                                              NaN
                      sd_school                                                                    NaN
                      sd_home                                                                      NaN
                      corr_bb_aa                                                                   NaN
                      corr_blue_collar_aa                                                          NaN
                      corr_blue_collar_bb                                                          NaN
                      corr_cc_aa                                                                   NaN
                      corr_cc_bb                                                                   NaN
                      corr_cc_blue_collar                                                          NaN
                      corr_military_aa                                                             NaN
                      corr_military_bb                                                             NaN
                      corr_military_blue_collar                                                    NaN
                      corr_military_cc                                                             NaN
                      corr_white_collar_aa                                                         NaN
                      corr_white_collar_bb                                                         NaN
                      corr_white_collar_blue_collar                                                NaN
                      corr_white_collar_cc                                                         NaN
                      corr_white_collar_military                                                   NaN
                      corr_school_aa                                                               NaN
                      corr_school_bb                                                               NaN
                      corr_school_blue_collar                                                      NaN
                      corr_school_cc                                                               NaN
                      corr_school_military                                                         NaN
                      corr_school_white_collar                                                     NaN
                      corr_home_aa                                                                 NaN
                      corr_home_bb                                                                 NaN
                      corr_home_blue_collar                                                        NaN
                      corr_home_cc                                                                 NaN
                      corr_home_military                                                           NaN
                      corr_home_white_collar                                                       NaN
                      corr_home_school                                                             NaN
meas_error            sd_aa                                                                        ...
                      sd_bb                                                                        ...
                      sd_blue_collar                                                               ...
                      sd_cc                                                                        ...
                      sd_military                                                                  ...
                      sd_white_collar                                                              ...